<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>This is my personal sandbox.</p>
  <p>Small roadmap for me:</p>
  <uL class="checklist">
    <li class="done">create simple rails application</li>
    <li class="done">with one-to-many and many-to-many relationship</li>
    <li>with nested resources</li>
    <li class="done">with default and custom routes</li>
    <li class="done">with authorization and authentication</li>
    <li class="done">with admin dashboard</li>
    <li>with interactive elements</li>
    <li class="done">with tests</li>
    <li class="done">with continuous integration</li>
    <li class="done">with continuous deployment</li>
  </ul>
  <p>
    <%= link_to "Learn more", "https://github.com/AntonShevchuk/blog", class: "btn btn-primary btn-lg" %>
  </p>
</div>
