<form class="edit_page" id="edit_page_9" action="/pages/9" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="patch" /><input type="hidden" name="authenticity_token" value="7Aa2VokSPYO1LPPFrpZ/nVJlgQ6jdqveGERAZAXDejNe7WDZueXhJ2TX8kISj1/6srH3/a0QNogjbX+XjkUgPg==" />
  <div class="form-group">    <label class="sr-only" for="page_title">Title</label>
    <input placeholder="Title" class="form-control" type="text" value="Sed ut perspiciatis" name="page[title]" id="page_title" />
</div>  <div class="form-group">    <label class="sr-only" for="page_content">Content</label>
    <textarea rows="12" class="form-control" name="page[content]" id="page_content">
Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem. ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?</textarea>
</div>
  <input type="submit" name="commit" value="Save" class="btn btn-primary btn-submit" data-disable-with="Save" />
</form>
