<% content_for :title, "Categories" %>
<% if @categories.size != 0 %>
  <ul>
  <% @categories.each do |category| %>
    <li>
      <%= link_to category.name, category_path(category) %>
      <%= link_to "Edit", edit_category_path(category), class: "btn btn-link btn-sm" if current_user.admin? %>
      <%= link_to "Delete", category_path(category), method: "delete", data: {confirm: 'Are you sure?'}, class: "btn btn-danger btn-link btn-sm" if current_user.admin? %>
    </li>
  <% end %>
  </ul>
<% else %>
  <p>Not yet</p>
<% end %>
<% if current_user.admin? %>
  <hr/>
  <%= link_to "Create category", new_category_path, class: "btn btn-primary" %>
<% end %>
